@import "../../global.scss";
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 52vh;
    margin-top: 1rem;
    background-color: rgb(250, 250, 250);
    @include mobile {
        height: auto;
    }
}
.cards-container {
    display: flex;
    flex-direction: row;
    width: $inner-width;
    height: 100%;
    @include mobile {
        flex-direction: column;
        width: 100%;
    }
}
.card {
    width: 32%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
        width: 100%;
        margin-top: 4px;
    }
    border-radius: 6px;
    h6 {
        color: $navbar-color;
        font-size: 18px;
    }
    p {
        text-align: center;
    }
}
